<a href="https://colab.research.google.com/github/Ananassio/Data-Science_lab/blob/main/Project/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

### Datawrangling

In [4]:
X=pd.read_csv('dressipi_recsys2022/train_sessions.csv', index_col='session_id')

In [5]:
X.head()

            item_id                     date
session_id
3              9655  2020-12-18 21:25:00.373
3              9655  2020-12-18 21:19:48.093
13            15654  2020-03-13 19:35:27.136
18            18316  2020-08-26 19:18:30.833
18             2507  2020-08-26 19:16:31.211

In [8]:
y=pd.read_csv('dressipi_recsys2022/train_purchases.csv',index_col='session_id')

In [9]:
y.head()

            item_id                     date
session_id
3             15085  2020-12-18 21:26:47.986
13            18626  2020-03-13 19:36:15.507
18            24911  2020-08-26 19:20:32.049
19            12534   2020-11-02 17:16:45.92
24            13226  2020-02-26 18:27:44.114

In [8]:
item_features = pd.read_csv('dressipi_recsys2022/item_features.csv')

In [9]:
item_features.head()

   item_id  feature_category_id  feature_value_id
0        2                   56               365
1        2                   62               801
2        2                   68               351
3        2                   33               802
4        2                   72                75

In [10]:
X.groupby('session_id').head()

         session_id  item_id                     date
0                 3     9655  2020-12-18 21:25:00.373
1                 3     9655  2020-12-18 21:19:48.093
2                13    15654  2020-03-13 19:35:27.136
3                18    18316  2020-08-26 19:18:30.833
4                18     2507  2020-08-26 19:16:31.211
...             ...      ...                      ...
4743801     4440001    25273  2020-10-30 16:42:16.855
4743802     4440001    10045  2020-10-30 23:26:39.481
4743803     4440001    26870  2020-10-30 23:26:02.586
4743804     4440001    19539   2020-10-30 23:37:09.46
4743805     4440001    18030  2020-10-30 23:25:30.999

[2931579 rows x 3 columns]

In [11]:
y.tail()

        session_id  item_id                     date
999995     4439986     2915  2021-05-13 11:56:37.464
999996     4439990     8786  2020-08-22 14:28:22.382
999997     4439994    21630  2020-11-27 20:10:28.961
999998     4439999    16962  2020-11-27 11:01:41.356
999999     4440001    16631  2020-10-30 23:46:05.218

In [12]:
X.tail()

         session_id  item_id                     date
4743815     4440001    20409  2020-10-30 23:37:20.658
4743816     4440001    14155  2020-10-30 23:31:56.607
4743817     4440001    14303  2020-10-30 23:36:17.934
4743818     4440001    27852  2020-10-30 23:39:55.186
4743819     4440001      305  2020-10-30 23:27:37.873

In [13]:
X['day']=pd.to_datetime(X['date']).dt.day_name()

In [10]:
pd.to_datetime(X['date']).dt.hour

session_id
3          21
3          21
13         19
18         19
18         19
           ..
4440001    23
4440001    23
4440001    23
4440001    23
4440001    23
Name: date, Length: 4743820, dtype: int64

In [15]:
X['part_of_day'] = (pd.to_datetime(X['date']).dt.hour % 24 + 4) // 4
X['part_of_day'].replace({1: 'Late Night',
                      2: 'Early Morning',
                      3: 'Morning',
                      4: 'Noon',
                      5: 'Evening',
                      6: 'Night'}, inplace=True)

In [16]:
X

         session_id  item_id                     date        day part_of_day
0                 3     9655  2020-12-18 21:25:00.373     Friday       Night
1                 3     9655  2020-12-18 21:19:48.093     Friday       Night
2                13    15654  2020-03-13 19:35:27.136     Friday     Evening
3                18    18316  2020-08-26 19:18:30.833  Wednesday     Evening
4                18     2507  2020-08-26 19:16:31.211  Wednesday     Evening
...             ...      ...                      ...        ...         ...
4743815     4440001    20409  2020-10-30 23:37:20.658     Friday       Night
4743816     4440001    14155  2020-10-30 23:31:56.607     Friday       Night
4743817     4440001    14303  2020-10-30 23:36:17.934     Friday       Night
4743818     4440001    27852  2020-10-30 23:39:55.186     Friday       Night
4743819     4440001      305  2020-10-30 23:27:37.873     Friday       Night

[4743820 rows x 5 columns]

In [17]:
y

        session_id  item_id                     date
0                3    15085  2020-12-18 21:26:47.986
1               13    18626  2020-03-13 19:36:15.507
2               18    24911  2020-08-26 19:20:32.049
3               19    12534   2020-11-02 17:16:45.92
4               24    13226  2020-02-26 18:27:44.114
...            ...      ...                      ...
999995     4439986     2915  2021-05-13 11:56:37.464
999996     4439990     8786  2020-08-22 14:28:22.382
999997     4439994    21630  2020-11-27 20:10:28.961
999998     4439999    16962  2020-11-27 11:01:41.356
999999     4440001    16631  2020-10-30 23:46:05.218

[1000000 rows x 3 columns]

Number of sessions

In [18]:
X['session_id'].nunique()

1000000

In [19]:
y['session_id'].nunique()

1000000

Number of max item features per item id

In [20]:
item_features.item_id.value_counts()

7970     33
3045     32
18488    32
18779    32
9807     32
         ..
9888      2
6434      2
21562     2
1630      2
16684     2
Name: item_id, Length: 23691, dtype: int64